<header class="main-header">
    <h1>
        User Details
    </h1>
    
    <button (click)="makeRequest()">
        load data
    </button>

</header>

<main>
    @if (loading) {
        <div class="loader"></div>
        
    } @else {
        @if (result$ && result$.length > 0) {
        <!-- @if (result$.length > 0) { -->
            <section class="content">
                <header class="content-header">
                    <p>Name</p>
                    <p>Gender</p>
                </header>
                @for (result of result$; track $index) {
                    <div class="personal">
                        <p>
                            {{ result.name }}
                        </p>
                        <p>
                            {{ result.gender }}
                        </p>
    
                    </div>
                
                }

            </section>
    
        }
        @if (error) {
            <p class="error">
                {{ error }}
            </p>
        }
    
    }

</main>