@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: "SUSE", sans-serif;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0;
    color: #242424;
}

button {
    font-family: "SUSE", sans-serif;

}



app-root {
    width: min(700px, 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}