* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



app-root {
    width: min(700px, 100%);
    height: 100%;
}